<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" width="180" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <%  if(!user){%> 
            <div class="button navbar-right">
                <button class="navbar-btn nav-button wow bounceInRight login" onclick="window.location.href='/user/login'" data-wow-delay="0.4s">Entrar</button>
            </div>
            <% } else { %>
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick="window.location.href='/user/logout'" data-wow-delay="0.4s">Salir</button>
                </div>
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick="window.location.href='/user/profile'" data-wow-delay="0.4s"> <%- user && user.role == "Admin" ? "Admin" : "Perfil"  %></button>
                </div>
            <% } %> 

            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="/">Inicio</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="/about">Acerca</a></li>
                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="contact.html">Contacto</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>